<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Preview: <%= @page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="authenticity_token" name="csrf-param">
  <link href="/assets/public.css" media="screen" rel="stylesheet" type="text/css">
  <script>
  try {
    var es = new EventSource('/stream');
    es.onmessage = function(e) {
      document.location.reload();
    };
    es.onerror = function(error) {
      es.close();
    }
  } catch (error) {
    console.log("ERROR:");
    console.log(error);
  }
  </script>
</head>
  <body>
    <div class="page-wrapper">
      <header>
        <div class="gradient-primary gradient-primary-short">
          <div class="heroku-header">
            <div class="container">
              <a href="#" class="heroku-brand">Heroku Dev Center</a>
              <ul class="nav">
                <li class="heroku-nav-item">
                  <a href="#">Local Preview</a>
                </li>
              </ul>
              <span class="mobile-nav">Show nav</span>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="col-md-8 col-md-offset-4 content">
          <%= yield %>
        </div>
      </div>
      <footer>
        <div class="container">
          <ul>
            <li><a href="https://www.heroku.com/home">heroku.com</a></li>
            <li><a href="https://www.heroku.com/policy/privacy">Privacy Policy</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
